<a href="#">
  <div class="col-md-3 col-sm-6 col-xs-6">
    <img
      class="img-responsive"
      src="https://videotutoriales.com/maspa/maspa1.jpg"
    />
  </div>
</a>
<a href="#">
  <div class="col-md-3 col-sm-6 col-xs-6">
    <img
      class="img-responsive"
      src="https://videotutoriales.com/maspa/maspa2.jpg"
    />
  </div>
</a>
<a href="#">
  <div class="col-md-3 col-sm-6 col-xs-6">
    <img
      class="img-responsive"
      src="https://videotutoriales.com/maspa/maspa3.jpg"
    />
  </div>
</a>
<a href="#">
  <div class="col-md-3 col-sm-6 col-xs-6">
    <img
      class="img-responsive"
      src="https://videotutoriales.com/maspa/maspa4.jpg"
    />
  </div>
</a>
